@media only screen and (max-width: 1150px) {
  body .habit {
    font-size: 30px; } }
.green {
  background-color: #00aa00; }

.red {
  background-color: #ee0000; }

body {
  background-color: #333333;
  font-family: Helvetica Neue, Helvetica;
  height: 100%;
  width: 100%; }

.squares {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }

.habit {
  position: relative;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.9);
  float: left;
  font-size: 40px;
  font-weight: 100;
  height: 50%;
  min-height: 300px;
  text-align: center;
  width: 25%; }

.content {
  position: relative;
  top: 20%;
  width: 100%; }
  .content.no-count {
    top: 30%; }

.description {
  padding-left: 20px;
  padding-right: 20px; }

.count {
  font-size: 80px;
  font-weight: bold; }

.unit {
  letter-spacing: 5px;
  padding-left: 0.1em;
  font-variant: small-caps;
  font-size: 75%;
  font-weight: 100; }

.history {
  bottom: 0;
  height: 50px;
  position: absolute;
  width: 100%; }
  .history .day {
    float: left;
    height: 100%;
    width: 14.28571%; }

.timestamp {
  bottom: 10px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  font-weight: 200;
  position: absolute;
  right: 10px;
  text-align: right; }
